---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Auténtico </h1>
			<p class="hero__text">
				Apasionado por explorar lo desconocido, buscando una pareja que comparta la emoción de descubrir el mundo.
			</p>
			<Boton href="#" texto="Contactar"/>
		</div>
    <img
		class="hero__img"
		src="/img/fotoAnimada.jpg"
		alt="Marcos"
		width="384"
    	height="384"
	/>
	</div>
</section>
