---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Aficiones" />
		<p>
			Mi día a día lo dedico al estudio y a mi desarrollo personal (tanto físico como mental).
			Sin embargo, eso no significa que no dedique tiempo a divertirme.<br>
			A persar de lo que se pueda esperar de un programador, me encanta salir de casa y explorar el mundo,
			 además de bailar cualquier estilo que me proponga. Ponme a prueba
		</p>
	</div>
</section>
