---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="megatarzan">
	<div class="terminal__skills">
		<h2>Mis hobbies</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/iconosPropios/estudiar.png"
				color="#7738ff"
				name="Estudiar"
			/>
			<TerminalIcon
				src="/assets/iconosPropios/entrenar.png"
				color="#FF4747"
				name="Entrenar"
			/>
			<TerminalIcon
				src="/assets/iconosPropios/viajar.png"
				color="#00D1FF"
				name="Viajar"
			/>
			<TerminalIcon src="/assets/iconosPropios/bailar.png" color="#F3CBC2" name="Bailar" />
			<TerminalIcon src="/assets/iconosPropios/programar.png" color="#00A3FF" name="Programar" />
			<TerminalIcon
				src="/assets/iconosPropios/mejorar.png"
				color="#3F75FF"
				name="Mejorar"
			/>
		</div>
	</div>
</Terminal>
